<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7QDzj-hidUAlLBfWDZ9BrCusazJ7p7Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>439095484537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aed.builderworkoutplanner</string>
	<key>PROJECT_ID</key>
	<string>workoutapp-dcd09</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutapp-dcd09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439095484537:ios:0fc13e42aabf0daa9374a8</string>
</dict>
</plist>